<ion-toolbar *ngIf="(header_options$ | async) as header_options " color="primary"
  style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%) !important;">
  <ion-buttons slot="start">
  <ion-menu-button id="main-content" color="danger"
    (click)="this.side.emit(true);menu.emit(header_options.menu)"></ion-menu-button>
  </ion-buttons>
  <ion-title>My App</ion-title>
  <div slot="end">
    <div *ngIf="header_options.user" style="color: white !important;">{{header_options.user.email}}</div>
    <div *ngIf="header_options.show_user_menu">

    </div>
  </div>
</ion-toolbar>
