<ion-app>
  <ion-header>
    <app-header (menu)="getMenu($event)" (side)="triggerSide($event)"></app-header>
  </ion-header>

  <ion-content class="ion-no-padding">
    <ion-menu *ngIf="!isSideMenu" side="start" contentId="main-content">
      <ion-content class="ion-no-padding">
        <div *ngIf="menu && menu.length > 0" class="example-headers-align" multi
          style="display: flex; flex-direction: column;">
          <app-sidenav [menuArray]="menu"></app-sidenav>
        </div>
      </ion-content>
    </ion-menu>
    <!-- Side Menu for 'overlay' type -->

    <!-- Main Content Area -->
    <ion-row style="height: 100% !important;">
      <!-- Side Menu for 'push' type -->
      <ion-col *ngIf="isSideMenu" class="side-nav" size="2.5" class="ion-no-padding" style="background-color: #0054e9;">
        <div *ngIf="menu && menu.length > 0" class="example-headers-align"
          style="display: flex; flex-direction: column;">
          <app-sidenav [menuArray]="menu"></app-sidenav>
        </div>
      </ion-col>

      <!-- Router Outlet for Navigation -->
      <ion-col id="main-content">
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
