
/*#region input */

input {
  min-height: 20px !important;
  --min-height: 40px !important;
  font-size: 16px !important;
  width: 100%;
  outline: 0;
  --border-color: rgba(0, 0, 0, 0.15);
  --border-style: solid;
  --border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-width: 1px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  --border-radius: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}
/*#endregion input */
