
/*#region Paginator */
.mat-mdc-paginator {
  background-color: transparent !important;
}

.mat-mdc-option,
.mat-mdc-menu-item {
  min-height: 30px !important;
}

.mat-mdc-paginator-page-size-select {
  width: 84px !important;
}
/*#endregion Paginator */
