
/*#region SideNav */
.mat-drawer {
  background-color: #34444c !important;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgb(36, 187, 233) !important;
}
/*#endregion */
